{
    "openapi": "3.1.0",
    "info": {
        "title": "Pacepard API",
        "description": "Complete API documentation for Pacepard platform - Authentication, Workspaces, Hackathons, Projects, Payments, and User Management",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.pacepard.com",
            "description": "Production server"
        },
        {
            "url": "https://staging-api.pacepard.com",
            "description": "Staging server"
        },
        {
            "url": "http://localhost:3000",
            "description": "Development server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/auth/register": {
            "post": {
                "summary": "Register new user",
                "description": "Create a new user account with email and password",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterUserDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "summary": "User login",
                "description": "Authenticate user with email and password",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/verify-otp": {
            "post": {
                "summary": "Verify OTP",
                "description": "Verify one-time password for account activation",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/resend-otp": {
            "post": {
                "summary": "Resend OTP",
                "description": "Resend one-time password to user email",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResendOtpDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/activate": {
            "post": {
                "summary": "Activate account",
                "description": "Activate user account with OTP verification",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account activated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/forgot-password": {
            "post": {
                "summary": "Forgot password",
                "description": "Request password reset link",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ForgotPasswordDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset email sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/reset-password": {
            "post": {
                "summary": "Reset password",
                "description": "Reset user password with token",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/change-password": {
            "post": {
                "summary": "Change password",
                "description": "Change user password",
                "tags": ["Authentication"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangePasswordDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/token": {
            "post": {
                "summary": "Refresh token",
                "description": "Get new access token using refresh token",
                "tags": ["Authentication"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshTokenDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "New token generated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "summary": "Logout",
                "description": "Logout user and invalidate tokens",
                "tags": ["Authentication"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/roles": {
            "post": {
                "summary": "Create role",
                "description": "Create a new role with permissions",
                "tags": ["Roles"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRoleDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Role created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Role"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/roles/list": {
            "get": {
                "summary": "List roles",
                "description": "Get paginated list of all roles",
                "tags": ["Roles"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Roles retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedRoles"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/roles/{id}": {
            "get": {
                "summary": "Get role by ID",
                "description": "Get specific role details",
                "tags": ["Roles"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Role retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Role"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update role",
                "description": "Update role details and permissions",
                "tags": ["Roles"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRoleDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Role updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Role"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete role",
                "description": "Delete a role",
                "tags": ["Roles"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Role deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace": {
            "post": {
                "summary": "Create workspace",
                "description": "Create a new workspace",
                "tags": ["Workspace"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Workspace created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/list": {
            "get": {
                "summary": "List workspaces",
                "description": "Get paginated list of workspaces",
                "tags": ["Workspace"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspaces retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedWorkspaces"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/{id}": {
            "get": {
                "summary": "Get workspace",
                "description": "Get workspace details by ID",
                "tags": ["Workspace"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update workspace",
                "description": "Update workspace details",
                "tags": ["Workspace"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Workspace updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete workspace",
                "description": "Delete a workspace",
                "tags": ["Workspace"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hackathons": {
            "post": {
                "summary": "Create hackathon",
                "description": "Create a new hackathon",
                "tags": ["Hackathons"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateHackathonDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Hackathon created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hackathon"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hackathons/list": {
            "get": {
                "summary": "List hackathons",
                "description": "Get paginated list of hackathons",
                "tags": ["Hackathons"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hackathons retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedHackathons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hackathons/{id}": {
            "get": {
                "summary": "Get hackathon",
                "description": "Get hackathon details by ID",
                "tags": ["Hackathons"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hackathon retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hackathon"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update hackathon",
                "description": "Update hackathon details",
                "tags": ["Hackathons"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateHackathonDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hackathon updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hackathon"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete hackathon",
                "description": "Delete a hackathon",
                "tags": ["Hackathons"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hackathon deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries": {
            "post": {
                "summary": "Create entry",
                "description": "Create a new hackathon entry",
                "tags": ["Entries"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEntryDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Entry created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Entry"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/list": {
            "get": {
                "summary": "List entries",
                "description": "Get paginated list of entries",
                "tags": ["Entries"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entries retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedEntries"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{id}": {
            "get": {
                "summary": "Get entry",
                "description": "Get entry details by ID",
                "tags": ["Entries"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entry retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Entry"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update entry",
                "description": "Update entry details",
                "tags": ["Entries"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEntryDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Entry updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Entry"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete entry",
                "description": "Delete an entry",
                "tags": ["Entries"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entry deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/plans": {
            "get": {
                "summary": "List plans",
                "description": "Get all available subscription plans",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Plans retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Plan"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create plan",
                "description": "Create a new subscription plan",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePlanDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Plan created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/plans/{planId}": {
            "patch": {
                "summary": "Update plan",
                "description": "Update subscription plan details",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "planId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePlanDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Plan updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/me": {
            "get": {
                "summary": "Get my subscription",
                "description": "Get current user's subscription details",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Subscription retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions": {
            "post": {
                "summary": "Create subscription",
                "description": "Create a new subscription",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSubscriptionDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subscription intent created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionIntent"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/verify": {
            "get": {
                "summary": "Verify subscription",
                "description": "Verify subscription payment status",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Payment verification response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/cancel": {
            "post": {
                "summary": "Cancel subscription",
                "description": "Cancel current subscription",
                "tags": ["Payments"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Subscription cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspaceId}/projects": {
            "post": {
                "summary": "Create project",
                "description": "Create a new project in workspace",
                "tags": ["Projects"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProjectDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Project created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List workspace projects",
                "description": "Get paginated list of projects in workspace",
                "tags": ["Projects"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Projects retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedProjects"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{id}": {
            "get": {
                "summary": "Get project",
                "description": "Get project details by ID",
                "tags": ["Projects"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update project",
                "description": "Update project details",
                "tags": ["Projects"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProjectDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Project updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete project",
                "description": "Delete a project",
                "tags": ["Projects"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "summary": "Get current user",
                "description": "Get current authenticated user profile",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/list": {
            "get": {
                "summary": "List users",
                "description": "Get paginated list of users",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedUsers"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/user-type": {
            "post": {
                "summary": "Set user type",
                "description": "Set user type during onboarding",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardUserTypeDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User type set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/basic-info": {
            "post": {
                "summary": "Set basic info",
                "description": "Set basic user information during onboarding",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardBasicInfoDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Basic info set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/talent-info": {
            "post": {
                "summary": "Set talent info",
                "description": "Set talent-specific information during onboarding",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardTalentInfoDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Talent info set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/business-info": {
            "post": {
                "summary": "Set business info",
                "description": "Set business-specific information during onboarding",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardBusinessInfoDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Business info set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/user-info": {
            "post": {
                "summary": "Set user info",
                "description": "Set additional user information during onboarding",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnboardUserInfoDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User info set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/complete": {
            "post": {
                "summary": "Complete onboarding",
                "description": "Mark user onboarding as complete",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Onboarding completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardCompleteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/onboard/status": {
            "get": {
                "summary": "Get onboarding status",
                "description": "Get current onboarding progress",
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "responses": {
                    "200": {
                        "description": "Onboarding status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnboardStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/storage/upload": {
            "post": {
                "summary": "Upload file",
                "description": "Upload file to storage service",
                "tags": ["Storage"],
                "security": [{ "bearerAuth": [] }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "File to upload"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "File uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/webhook/paystack": {
            "post": {
                "summary": "Paystack webhook",
                "description": "Handle Paystack payment webhooks",
                "tags": ["Webhooks"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaystackWebhookPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook processed successfully"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "message": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "SuccessMessage": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "message": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "Pagination": {
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    }
                }
            },
            "RegisterUserDTO": {
                "type": "object",
                "required": ["email", "password", "userType"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string",
                        "minLength": 8
                    },
                    "userType": {
                        "type": "string",
                        "enum": ["talent", "business", "admin"]
                    }
                }
            },
            "LoginDTO": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "VerifyOtpDTO": {
                "type": "object",
                "required": ["email", "otp", "otpType"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "otp": {
                        "type": "integer"
                    },
                    "otpType": {
                        "type": "string",
                        "enum": ["registration", "password_reset"]
                    }
                }
            },
            "ResendOtpDTO": {
                "type": "object",
                "required": ["email", "otpType"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "otpType": {
                        "type": "string",
                        "enum": ["registration", "password_reset"]
                    }
                }
            },
            "ForgotPasswordDTO": {
                "type": "object",
                "required": ["email"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    }
                }
            },
            "ResetPasswordDTO": {
                "type": "object",
                "required": ["email", "newPassword"],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "newPassword": {
                        "type": "string",
                        "minLength": 8
                    }
                }
            },
            "ChangePasswordDTO": {
                "type": "object",
                "required": ["oldPassword", "newPassword"],
                "properties": {
                    "oldPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string",
                        "minLength": 8
                    }
                }
            },
            "RefreshTokenDTO": {
                "type": "object",
                "required": ["refreshToken"],
                "properties": {
                    "refreshToken": {
                        "type": "string"
                    }
                }
            },
            "TokenResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "accessToken": {
                                "type": "string"
                            },
                            "refreshToken": {
                                "type": "string"
                            },
                            "user": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    },
                    "message": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "userType": {
                        "type": "string",
                        "enum": ["talent", "business", "admin"]
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateRoleDTO": {
                "type": "object",
                "required": ["name"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "UpdateRoleDTO": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Role": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaginatedRoles": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Role"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "CreateWorkspaceDTO": {
                "type": "object",
                "required": ["name"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    }
                }
            },
            "UpdateWorkspaceDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    }
                }
            },
            "Workspace": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "createdBy": {
                        "type": "string"
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WorkspaceMember"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "WorkspaceMember": {
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string",
                        "enum": ["owner", "admin", "member"]
                    },
                    "joinedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaginatedWorkspaces": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Workspace"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "CreateHackathonDTO": {
                "type": "object",
                "required": ["name", "description", "workspaceId"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["public", "private"]
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "businessId": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object",
                        "properties": {
                            "language": {
                                "type": "string"
                            },
                            "startTime": {
                                "type": "string"
                            },
                            "startDate": {
                                "type": "string"
                            },
                            "startTimeZone": {
                                "type": "string"
                            },
                            "isClosed": {
                                "type": "string"
                            },
                            "closeTime": {
                                "type": "string"
                            },
                            "closeDate": {
                                "type": "string"
                            },
                            "closeTimeZone": {
                                "type": "string"
                            },
                            "closeMessageTitle": {
                                "type": "string"
                            },
                            "closeMessageDescription": {
                                "type": "string"
                            },
                            "redirectOnClose": {
                                "type": "string"
                            }
                        }
                    },
                    "formtype": {
                        "type": "string"
                    }
                }
            },
            "UpdateHackathonDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["public", "private"]
                    },
                    "status": {
                        "type": "string",
                        "enum": ["draft", "active", "completed"]
                    },
                    "image": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object"
                    },
                    "formtype": {
                        "type": "string"
                    }
                }
            },
            "Hackathon": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "businessId": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object"
                    },
                    "formtype": {
                        "type": "string"
                    },
                    "createdBy": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaginatedHackathons": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Hackathon"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "CreateEntryDTO": {
                "type": "object",
                "required": ["name", "description", "hackathonId"],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "hackathonId": {
                        "type": "string"
                    },
                    "entryType": {
                        "type": "string",
                        "enum": ["individual", "team"]
                    },
                    "image": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "category": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object",
                        "properties": {
                            "transferOwnershipTo": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "UpdateEntryDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "entryType": {
                        "type": "string",
                        "enum": ["individual", "team"]
                    },
                    "status": {
                        "type": "string",
                        "enum": ["draft", "submitted", "approved", "rejected"]
                    },
                    "image": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "category": {
                        "type": "string"
                    },
                    "settings": {
                        "type": "object"
                    }
                }
            },
            "Entry": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "hackathonId": {
                        "type": "string"
                    },
                    "entryType": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "category": {
                        "type": "string"
                    },
                    "createdBy": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaginatedEntries": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Entry"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "CreatePlanDTO": {
                "type": "object",
                "required": [
                    "name",
                    "label",
                    "planType",
                    "displayName",
                    "description",
                    "pricing"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "planType": {
                        "type": "string",
                        "enum": ["free", "paid"]
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "trial": {
                        "type": "object",
                        "properties": {
                            "enabled": {
                                "type": "boolean"
                            },
                            "duration": {
                                "type": "integer"
                            }
                        }
                    },
                    "pricing": {
                        "type": "object",
                        "properties": {
                            "currency": {
                                "type": "string"
                            },
                            "amount": {
                                "type": "number"
                            },
                            "interval": {
                                "type": "string",
                                "enum": ["month", "year"]
                            }
                        }
                    },
                    "members": {
                        "type": "object",
                        "properties": {
                            "limit": {
                                "type": "integer"
                            },
                            "frequency": {
                                "type": "string"
                            }
                        }
                    },
                    "domains": {
                        "type": "object",
                        "properties": {
                            "limit": {
                                "type": "integer"
                            },
                            "frequency": {
                                "type": "string"
                            }
                        }
                    },
                    "projects": {
                        "type": "object",
                        "properties": {
                            "limit": {
                                "type": "integer"
                            },
                            "frequency": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "UpdatePlanDTO": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "planType": {
                        "type": "string",
                        "enum": ["free", "paid"]
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "trial": {
                        "type": "object"
                    },
                    "pricing": {
                        "type": "object"
                    },
                    "members": {
                        "type": "object"
                    },
                    "domains": {
                        "type": "object"
                    },
                    "projects": {
                        "type": "object"
                    }
                }
            },
            "Plan": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "planType": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "trial": {
                        "type": "object"
                    },
                    "pricing": {
                        "type": "object"
                    },
                    "members": {
                        "type": "object"
                    },
                    "domains": {
                        "type": "object"
                    },
                    "projects": {
                        "type": "object"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateSubscriptionDTO": {
                "type": "object",
                "required": ["planId", "currency", "interval"],
                "properties": {
                    "planId": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string",
                        "enum": ["USD", "EUR", "NGN"]
                    },
                    "interval": {
                        "type": "string",
                        "enum": ["month", "year"]
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "planId": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["active", "cancelled", "expired"]
                    },
                    "currentPeriodStart": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "currentPeriodEnd": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "cancelAtPeriodEnd": {
                        "type": "boolean"
                    }
                }
            },
            "SubscriptionIntent": {
                "type": "object",
                "properties": {
                    "clientSecret": {
                        "type": "string"
                    },
                    "subscriptionId": {
                        "type": "string"
                    },
                    "paymentIntentId": {
                        "type": "string"
                    }
                }
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "currency": {
                        "type": "string"
                    }
                }
            },
            "CreateProjectDTO": {
                "type": "object",
                "required": ["title", "description"],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "tagline": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["personal", "team", "hackathon"]
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "image": {
                        "type": "string"
                    }
                }
            },
            "UpdateProjectDTO": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "tagline": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "image": {
                        "type": "string"
                    }
                }
            },
            "Project": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "tagline": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "businessId": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["draft", "published", "archived"]
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "image": {
                        "type": "string"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "documentation": {
                        "type": "string"
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProjectMember"
                        }
                    },
                    "tasks": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ProjectMember": {
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string",
                        "enum": ["owner", "admin", "member"]
                    },
                    "joinedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaginatedProjects": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "example": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": []
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Project"
                        }
                    },
                    "pagination": {
                        "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                        "type": "integer"
                    }
                }
            },
            "UserInfo": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "phoneNumber": {
                        "type": "string"
                    },
                    "phoneCode": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
[...]
